<div class="container px-5 px-sm-0 mt-3">
  <div class="row">

    <div class="col-md-3">
      <%= render 'users/info', user: @user %>
    </div>

    <div class="col-md-7">
      <h2 class="text-center">いいねした楽曲一覧</h2>
      <div class="container mt-5">
        <div class="row row-cols-1 row-cols-sm-2 row-eq-height">
          <% if @favorite_list.present? %>
            <% @favorite_list.each do |music| %>
            <div class="col">
              <div class="card border-secondary mb-3 mx-auto">
                <div class="card-body">

                <div class="card-profile mx-auto">
                  <%= link_to user_path(music.user.id) do %>
                    <%= attachment_image_tag music.user, :profile_image, fallback: "no_image.jpg", size: "40x40", class:"rounded-circle img-thumbnail" %>
                  <% end %>
                  <%= link_to music.user.name, user_path(music.user.id), class:"text-dark font-weight-bold" %>
                </div>

                <h5 class="card-title mt-3"><%= link_to music.title, music_path(music), class:"text-dark d-flex align-items-end" %></h5>
                <div class="card-text d-flex flex-row justify-content-around">
                  <div id="favorite_buttons_<%= music.id %>"><%= render "favorites/favorite", music: music %></div>
                  <div><i class="far fa-comment"></i><%= music.music_comments.count %></div>
                  <div class="music-created mt-2"><%= music.created_at.strftime("%Y-%m-%d %H:%M:%S") %></div>
                </div>

                </div>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <%= render 'searches/form' %>
    </div>

  </div>
</div>