  <h5><i class="fas fa-search pr-1"></i><strong>検索フォーム</strong></h5>
  <%= form_with url:search_path, method: :get, local: true do |f| %>
    <%= f.select 'search[model]', options_for_select({ "ユーザ" => "user", "楽曲" => "music" }) %>
    <%= f.select 'search[how]', options_for_select({ "完全一致" => "match", "部分一致" => "partical"  }) %>
    <%= f.text_field 'search[value]', class: "mt-3 mb-3" %>
    <%= f.submit :"検索", class: "btn btn-outline-dark" %>
  <% end %>
  
  <div class="sidebar-contents">
    <div class="card mx-auto mt-4">
      <div class="bg-image5 img-fluid p-5"></div>
    </div>
    <div class="card mx-auto mt-4">
      <div class="bg-image6 img-fluid p-5"></div>
    </div>
    <div class="card mx-auto mt-4">
      <div class="bg-image7 img-fluid p-5"></div>
    </div>    
  </div>