<div class="container px-5 px-sm-0 mt-3">
  <div class="row">

    <div class="col-md-3">
      <%= render 'users/info', user: @user %>
    </div>

    <div class="col-md-7">
      <h2 class="text-center mt-3 mb-5">楽曲投稿フォーム</h2>

      <%= render 'layouts/error' %>

      <div class="form">
        <%= form_with model:@music,local:true do |f| %>
          <div class="form-group">
            <h5 for="music_title">楽曲名</h5>
            <%= f.text_field :title, class: "form-control music_title" %>
          </div>
          <div class="form-group">
            <h5 for="music_opinion">楽曲説明・好きなポイント</h5>
            <%= f.text_area :body, class: "form-control music_body" %>
          </div>
          <div class="form-group">
            <%= f.submit "投稿する", class: "btn btn-outline-success" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-2">
      <%= render 'searches/form' %>
    </div>

  </div>
</div>