<div class="container px-5 px-sm-0 mt-3">
  <div class="row">

    <div class="col-md-3">
      <%= render 'users/info', user: @user %>
    </div>

    <div class="col-md-7">
      <h2></h2>
      <table class="table table-light">
        <tr>
          <th>ユーザー</th>
          <th></th>
          <th>投稿日時</th>
          <th></th>
          <% if @music.user == current_user %>
            <th></th>
            <th></th>
          <% end %>
        </tr>
        <tr>
          <td>
            <%= link_to user_path(@music.user.id) do %>
              <%= attachment_image_tag @music.user, :profile_image, fallback: "no_image.jpg", size: "40x40", class:"rounded-circle img-thumbnail" %></br>
            <% end %>
          </td>
          <td><%= link_to @music.user.name, user_path(@music.user.id), class:"text-dark" %></td>
          <td><%= @music.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
          <td id="favorite_buttons_<%= @music.id %>"><%= render "favorites/favorite", music: @music %></td>

          <% if @music.user == current_user %>
            <td><%= link_to '編集', edit_music_path(@music), class: "btn btn-outline-success" %></td>
            <td><%= link_to '削除', music_path(@music), class: "btn btn-outline-danger", method: :delete %></td>
          <% end %>
        </tr>
      </table>

      <table class="table table-light">
        <tr>
          <th>楽曲</th>
          <td><%= @music.title %></td>
        </tr>
        <tr>
          <th>楽曲説明・好きなポイント</th>
          <td><%= @music.body %></td>
        </tr>
      </table>

      <table id="comments_area_<%= @music.id %>" class="table table-light">
        <%= render 'music_comments/index', music: @music %>
      </table>

      <div class="comment-form mb-5">
        <%= form_with(model:[@music, @music_comment], remote: true) do |f| %>
          <%= f.text_area :comment, cols:'80', rows:'5' %></br>
          <%= f.submit "送信", class: "btn btn-outline-dark" %>
        <% end %>
      </div>
    </div>
    
    <div class="col-md-2">
      <%= render 'searches/form' %>
    </div>

</div>