<div class="container px-5 px-sm-0 mt-3">
  <div class="row">

    <div class="col-md-3">
      <h2>ユーザー</h2>
      <%= render 'users/info', user: @user %>
    </div>

    <div class="col-md-8">
      <h2></h2>
      <table class="table">
        <tr>
          <th>楽曲</th>
          <th>楽曲説明</th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td><%= link_to @music.title %></td>
          <td><%= @music.body %></td>
          <% if @music.user == current_user %>
            <td><%= link_to '編集', edit_music_path(@music) %></td>
            <td><%= link_to '削除', music_path(@music), method: :delete %></td>
          <% end %>
        </tr>
      </table>
    </div>

</div>