<div class="container px-5 px-sm-0 mt-3">
  <div class="row">

    <div class="col-md-3">
      <h2>ユーザー</h2>
      <%= render 'users/info', user: @user %>
    </div>

    <div class="col-md-8">
      <h2></h2>
      <table class="table">
        <tr>
          <th>ユーザー</th>
          <th></th>
          <th>楽曲</th>
          <th>楽曲説明</th>
          <th></th>
          <th>投稿日時</th>
          <% if @music.user == current_user %>
            <th></th>
            <th></th>
          <% end %>
        </tr>
        <tr>
          <td>
            <%= link_to user_path(@music.user.id) do %>
              <%= attachment_image_tag @music.user, :profile_image, fallback: "no_image.jpg", size: "40x40" %>
            <% end %>
          </td>
          <td><%= link_to @music.user.name, user_path(@music.user.id) %></td>
          <td><%= @music.title %></td>
          <td><%= @music.body %></td>
          <%= render "favorites/favorite", music: @music %>
          <td><%= @music.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>

          <% if @music.user == current_user %>
            <td><%= link_to '編集', edit_music_path(@music) %></td>
            <td><%= link_to '削除', music_path(@music), method: :delete %></td>
          <% end %>
        </tr>
      </table>

      <table class="table table-light">
        <thead>
          <tr>
            <th>コメント数: <%= @music.music_comments.count %></th>
          </tr>
        </thead>
        <tbody>
          <% @music.music_comments.each do |music_comment| %>
            <% music_comment_user = music_comment.user %>
            <tr>
              <td>
                <%= link_to user_path(music_comment.user.id) do %>
                  <%= attachment_image_tag music_comment.user, :profile_image, fallback: "no_image.jpg", size: "40x40" %>
                  <%= music_comment_user.name %>
                <% end %>
              </td>
              <td><%= music_comment.comment %></td>
              <td><%= music_comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
              <% if current_user == music_comment_user %>
              	<td><%= link_to '削除', music_music_comment_path(music_comment.music_id, music_comment.id), method: :delete %></td>
            	<% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="comment-form">
        <%= form_with(model:[@music, @music_comment], local: true) do |f| %>
          <%= f.text_area :comment, cols:'100', rows:'5' %></br>
          <%= f.submit "送信" %>
        <% end %>
      </div>
    </div>

</div>